CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_NULL_POINTER_EXCEPTION_DETECTION_NONE=y

CONFIG_CACHE_MANAGEMENT=y
CONFIG_EXTERNAL_CACHE=y

CONFIG_NRF_GRTC_START_SYSCOUNTER=y

CONFIG_USE_SEGGER_RTT=y
CONFIG_SPI=y
CONFIG_GPIO=y
CONFIG_LED=y
CONFIG_I2C=y
CONFIG_SENSOR=y
CONFIG_LIS2DE12=y
CONFIG_LIS2DE12_TRIGGER_OWN_THREAD=y
CONFIG_REGULATOR=y