config BOARD_ISP3580_UX_AN
	select SOC_NRF54L15_CPUAPP if BOARD_ISP3580_UX_AN_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_ISP3580_UX_AN_NRF54L15_CPUFLPR || \
		BOARD_ISP3580_UX_AN_NRF54L15_CPUFLPR_XIP