CONFIG_ARM_MPU=n
CONFIG_HW_STACK_PROTECTION=n

CONFIG_USE_SEGGER_RTT=y
CONFIG_SPI=y
CONFIG_GPIO=y
CONFIG_LED=y
CONFIG_LED_GPIO=y
CONFIG_I2C=y
CONFIG_SENSOR=n
CONFIG_LIS2DE12=n
CONFIG_LIS2DE12_TRIGGER_OWN_THREAD=n
CONFIG_REGULATOR=y
